.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
Extension_FINAL.pdf
Extension_FINAL2.html
Extension_FINAL2.pdf
factor_analysis_covid19_policies.png
latent_scientific_trust_model.png
latent_scientific_trust_model_full.png
.gitignore
